body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.note, .large-note {
  position: absolute;
  font-size: 12px;
  height: 64px;
  padding: 4px;
  border: 1px black solid;
}

.note .label, .large-note .label {
  padding: 4px;
}

.note {
  width: 64px;
}

.large-note {
  width: 96px;
}

.event {
  background-color: orange;
}

.command {
  background-color: lightblue;
}

.aggregate {
  background-color: yellow;
  z-index: -1;
}

.issue {
  background-color: red;
}

.persona {
  background-color: lightyellow;
}

.view {
  background-color: green;
}

.context .label {
  background-color: hotpink;
}